.uploadSave button {
    background-color: #303336;
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;

    display: inline-block;
    font-size: 18pt;

    border-top: #fff6 1px solid;
    border-bottom: #fff6 1px solid;

    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}
.uploadSave button:hover {
    background-color: #D542EA;
}